.Partners {
  max-width:70vw ;
  margin: 0 auto;
}

.partnersHeader {
  text-align: center;
}

.partnersLogos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.partnersLogos img {
  margin: 0 1rem;
  width: 180px;
  height: 135px;
}


.partnersHeader h1 {
  font-size: 42px;
  color: var(--black-color);
}

.partnersHeader span {
  font-size: 15px;
  letter-spacing: .5rem;
}


@media (max-width:740px) {
  .partnersHeader h1{
    font-size: 25px;
  }
}