
.links {
  position: absolute;
  top: 45%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  padding-right: 2rem;
}

.links img {
  width: 20px;
  height: 15px;
}

.links .facebook {
  width: 11px;
  height: 18px;
}

@media(max-width:735px) {
  .links {
    flex-direction: row;
    top: auto;
    bottom: -3rem;
    right: auto;
    width: 10rem;
    padding-right: 0;
  }
}

@media(max-width:540px) {
  .links {
    bottom: 0rem;
  }
}
