.headerText {
  position: absolute;
}

.headerText h1 {
  font-size: 150px;
  margin: 0;
  color: var(--white-color);
}

.headerText span {
  color: var(--white-color);
  font-size: 20px;
  letter-spacing: .5rem;
}


@media(max-width:595px) {
  .headerText h1 {
    font-size: 95px;
  }
}

@media(max-width:385px) {
  .headerText h1 {
    font-size: 65px;
  }
  .headerText span {
    font-size: 16px;
  }
}