.Drawer {
  position: absolute;
  z-index: 2;
  padding: 2rem
}

.Drawer ul li, .Drawer ul .Logo span{
  color: black;
}

.Drawer ul {
  background-color: var(--dark-white-color);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: flex-end;
  padding-top: 1.5rem;
}

.Drawer ul li {
  margin: .5rem 0;
}

.Drawer .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 0;
}

@media(min-width:735px) {
  .Drawer {
    display: none;
  }
}