.Header {
  position: relative;
  height: 100vh;
}


.swiper {
  width: 100%;
  height: 100%;
}


.swiper-pagination-progressbar-fill {
  background: white !important;
}

.swiper-pagination-progressbar {
  width: 2px  !important;
  height: 50% !important;
  top: 25% !important;
  left: 50px !important;
}

.swiper-button-next, .swiper-button-prev {
  top: 90%;
  transform: rotate(90deg);
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: white;
  font-size: 30px;
}

.swiper-button-prev {
  left: 94% ;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*Responsive design*/

@media(max-width:1150px) {
  .swiper-button-prev {
    top: 82%;
    left: auto;
    right: 2rem;
  }
  .swiper-button-next {
    right: 2rem;
  }
}

@media(max-width:735px) {
  .swiper-pagination-progressbar {
    transform: rotate(270deg);
    top: auto !important;
    left: 50% !important;
    bottom: -7rem;
  }
}


@media(max-width:385px) {
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 16px;
  }
}

@media(max-width:415px) {
  .swiper-button-prev {
    top: 84%;
  }
  .swiper-button-next {
    top: 90%;
  }
}

@media(max-width:360px) {
  .swiper-button-prev {
    top: 83%;
  }
  .swiper-button-next {
    top: 86%;
  }
}

@media(max-width:280px) {
  .swiper-button-prev {
    right: 1rem;
  }
  .swiper-button-next {
    right: 1rem;
  }
}