.Feedback {
  margin: 0 auto;
  padding-top: 5rem;
}

.blockqouteContainer {
  display: flex;
  background-image: url('../../assets/qouteBackground.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 3rem;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}