.Nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  align-items: center;
}
@media(max-width:735px) {
  .Nav {
    justify-content: space-between;
    padding:1.5rem 2rem;
  }
}